div(class="col-sm-3 col-sm-offset-1 blog-sidebar")
  div(class="sidebar-module sidebar-module-inset")
    h4 Contact us
    p  info@cocoons.io

  div.sidebar-module
    h4 Get the code
    ol.list-unstyled
      li
        a(href="https://github.com/christophebe/cocoons") GitHub
