div(class="col-sm-3 col-sm-offset-1 blog-sidebar")
  div(class="sidebar-module sidebar-module-inset")
    h4 focus
    p  this is a focus !!

  div.sidebar-module
    h4 Elsewhere
    ol.list-unstyled
      li
        a(href="#") GitHub
      li
        a(href="#") Twitter
      li  
        a(href="#") Facebook
