if parentPage
  if parentPage.path
    !=  "[" + parentPage.title + "](" + parentPage.path + ".html)"
  else
    !=  "[home site](/index.html)"

!= "\n\n\n\n"


if children
  != "##To Get more details (child pages)\n"
  each child in children
    !=  "[" + child.title + "](" + child.path + ".html) \n\n"

if sisters
  != "##Other information (sister pages)\n"
  each sister in sisters
    !=  "[" + sister.title + "](" + sister.path + ".html) \n\n"
