extends layout-with-sidebar

block content-title
  if (page.properties.h1)
    h1= page.properties.h1
    hr
block content
  div(class="col-sm-8 blog-main")
    if widgets.beforecontent
      each widget, index in widgets.beforecontent
        != widget.html

    != page.content
