div(class="sidebar-module sidebar-module-inset")
  p= widget.properties.intro
  p
    a(class="btn btn-primary btn-lg btn-block", href=widget.properties.href, role="button")= widget.properties.anchor
